In [4]:
# Try "pip install odfpy" and "pip install openpyxl" if error raised related to ".xlsx" files

import pandas as pd 
import numpy as numpy

def load_data(em_data = True, veh_data = True, nox_data = True, pm_data = True):
    args = []
    # Emission Data (CO2)
    EU_em_df = pd.read_excel('Data/Table_11.5_Carbon_Dioxide_Emissions_From_Energy_Consumption__Transportation_Sector.xlsx',engine='openpyxl')
    EU_em_annual_df = pd.read_csv('Data/EU_annual_carbon_emission_by_road_transportation.csv',)
    UK_em_df = pd.read_excel('Data/uk-env0201.ods', nrows = 16)
    US_em_df = pd.read_excel('Data/US_em.xlsx',engine='openpyxl')
    
    # Emissions data Processing
    EU_em_df = EU_em_df.set_index('Month')
    UK_em_df = UK_em_df.transpose()
    
    # Electric Vehicles
    EU_veh_df = pd.read_csv('Data/new-electric-vehicles-in-eu-1.csv')
    UK_veh_df = pd.read_excel('Data/veh0203.ods', nrows= 76)
    US_veh_df = pd.read_excel('Data/10354_epact_vehicle_history_5-21-21.xlsx',engine='openpyxl')
    args += [EU_em_df, EU_em_annual_df, UK_em_df, US_em_df, EU_veh_df,UK_veh_df, US_veh_df]

    # Secondary Data 
        # Air pollution
            # UK 1970-2019/2022
    UK_nox_annual_df = pd.read_csv('Data/Figure06_NOx_time_series.csv')
    UK_pm_all_annual_df = pd.read_csv('Data/Figure03_PM_time_series.csv')
            
            # USA Since 1970-2020, plz Access through column id(numbers)
    USA_nox_annual_df = pd.read_csv('Data/US_nox_em_time_series.csv') # National Emissions Totals (thousands of tons)
    USA_pm_10_annual_df = pd.read_csv('Data/US_pm10_year.csv')        #
    USA_pm_2_5_annual_df = pd.read_csv('Data/US_pm2_5_year.csv')
    
    USA_pm_2_5_annual_df = USA_pm_2_5_annual_df.transpose()
    USA_pm_10_annual_df = USA_pm_10_annual_df.transpose()
            
            # OCED DATA
    OCED_PM10_df = pd.read_excel('Data/PM10_ROAD_OCED_WORLD_DATA.xlsx',engine='openpyxl')
    OCED_NOX_df = pd.read_excel('Data/NOX_ROAD_OCED_WORLD_DATA.xlsx',engine='openpyxl')
    OCED_PM2_5_df = pd.read_excel('Data/PM2_5_ROAD_OCED_WORLD_DATA.xlsx',engine='openpyxl')
    args += [UK_nox_annual_df,UK_pm_all_annual_df,USA_pm_10_annual_df,USA_pm_2_5_annual_df,USA_nox_annual_df,OCED_PM10_df,OCED_NOX_df,OCED_PM2_5_df]
    return args

EU_em_df, EU_em_annual_df, UK_em_df, US_em_df, EU_veh_df,UK_veh_df, US_veh_df, UK_nox_annual_df,UK_pm_all_annual_df,USA_pm_10_annual_df,USA_pm_2_5_annual_df,USA_nox_annual_df,OCED_PM10_df,OCED_NOX_df,OCED_PM2_5_df = load_data()

# Eric: Simpler ways to read the data
# calling head() method  
# storing in new variable 
data_top = OCED_NOX_df
    
# display 
data_top 

#EU_em_df, UK_em_df, US_em_df

C:\Apps\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Australia,549.156,539.232,580.854,588.587,596.750,624.957,633.879,642.463,627.553,...,628.437,630.849,622.656,623.603,625.602,648.935,670.229,693.565,693.805,651.806
1,Austria,131.858,140.863,136.841,133.585,128.986,127.164,145.665,131.425,146.159,...,140.279,132.955,128.200,128.653,124.115,119.344,112.539,103.602,95.319,88.761
2,Belgium,230.964,231.581,239.363,235.217,225.982,215.270,207.132,198.666,195.381,...,134.059,126.231,119.361,112.641,108.246,107.413,100.740,92.579,84.595,78.041
3,Canada,1245.247,1187.547,1203.455,1239.369,1318.584,1353.281,1393.927,1474.823,1502.152,...,1015.033,983.469,916.365,874.483,808.944,757.804,713.621,747.369,780.810,786.101
4,Chile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,65.399,66.761,75.581,80.366,81.937,60.575,54.173,56.035,54.500,NaN
5,Costa Rica,16.637,17.089,19.145,21.251,23.834,25.138,25.934,26.982,29.669,...,44.340,45.400,46.718,47.399,48.399,51.591,55.102,56.134,NaN,NaN
6,Czech Republic,199.859,182.674,183.067,170.362,170.983,153.170,143.934,134.051,134.296,...,90.293,87.753,85.023,81.244,80.684,78.067,75.827,76.045,72.760,68.911
7,Denmark,159.293,165.659,162.864,159.379,157.964,154.823,150.296,144.761,138.729,...,90.850,85.879,79.332,76.330,70.220,68.103,65.590,61.643,57.887,51.564
8,Estonia,38.736,36.727,20.541,20.930,23.005,20.265,21.948,22.485,23.472,...,15.917,14.851,14.255,12.912,12.870,12.369,11.158,10.791,10.416,9.607
9,Finland,166.643,165.273,164.010,163.749,161.280,155.356,152.529,151.381,143.973,...,74.155,70.145,65.327,63.012,59.416,55.731,51.760,48.039,45.392,42.229
10,France,1471.398,1487.926,1508.125,1470.075,1413.364,1370.132,1317.361,1283.209,1280.395,...,758.575,746.763,708.800,689.557,667.255,645.041,607.113,578.262,531.799,505.500
11,Germany,1575.253,1499.337,1480.669,1462.414,1404.315,1373.250,1293.658,1252.308,1248.779,...,774.105,758.346,736.276,733.488,713.687,689.464,669.169,635.440,576.171,537.216
12,Greece,227.975,221.941,221.217,220.838,224.722,213.985,213.140,223.122,247.492,...,168.715,143.883,110.334,118.030,118.295,116.726,118.556,121.547,124.072,123.139
13,Hungary,102.615,88.291,83.138,81.003,78.545,79.194,79.704,83.133,92.391,...,70.630,65.055,60.364,58.930,62.105,61.743,56.482,56.179,56.788,53.024
14,Iceland,25.737,25.097,27.170,28.535,27.960,29.011,29.156,28.324,27.448,...,21.470,19.159,18.827,18.023,17.680,18.342,16.140,16.390,17.246,16.678
15,Ireland,70.122,72.294,76.028,74.317,75.294,76.342,79.308,75.821,83.381,...,57.870,54.210,51.900,52.579,54.071,53.875,53.994,49.561,47.550,43.261
16,Israel,NaN,NaN,NaN,NaN,NaN,NaN,99.919,NaN,NaN,...,50.502,40.466,36.374,35.716,33.917,33.252,32.706,32.849,32.762,NaN
17,Italy,1261.268,1305.114,1377.553,1370.908,1323.536,1301.647,1279.577,1247.208,1195.578,...,611.203,585.670,546.313,499.819,496.291,460.873,443.865,397.186,398.606,389.949
18,Japan,1024.995,1049.732,1034.367,1012.049,1015.327,1035.171,1047.900,1065.199,1002.192,...,736.843,687.370,666.109,632.714,608.597,577.310,698.047,632.527,595.027,572.327
19,Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,591.104,539.405,571.227,581.747,652.401,673.961,762.981,743.347,714.169,NaN
20,Latvia,52.242,56.099,45.953,41.129,31.840,29.351,28.665,27.260,25.567,...,26.494,24.270,23.008,22.217,21.484,20.800,19.475,19.426,19.488,18.007
21,Lithuania,93.963,97.438,65.537,51.493,42.370,49.187,50.331,54.886,55.675,...,31.290,31.277,30.928,28.567,31.818,31.522,30.753,30.705,31.267,30.792
22,Luxembourg,26.660,32.151,32.351,29.921,27.088,23.919,23.836,24.934,25.526,...,30.528,30.881,28.664,27.151,24.524,21.046,18.094,15.715,14.172,12.797
23,Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1338.000,NaN,NaN,NaN
24,Netherlands,356.260,350.263,347.127,337.189,313.108,304.499,299.268,285.385,276.856,...,196.684,189.353,172.533,160.893,149.345,147.006,139.939,134.277,130.752,123.059
25,New Zealand,53.139,52.217,56.715,60.062,65.943,71.145,72.771,74.282,76.224,...,96.767,98.756,99.023,101.702,104.020,106.490,103.642,109.147,112.678,114.437
26,Norway,139.243,135.104,139.836,140.635,140.442,151.470,157.433,163.004,165.071,...,129.703,130.792,130.814,125.240,115.785,106.482,98.752,91.642,89.371,81.869
27,Poland,280.041,287.748,301.319,301.501,313.506,316.937,346.138,365.254,355.116,...,348.840,347.750,323.451,288.088,274.555,273.934,296.250,331.909,330.541,319.942
28,Portugal,119.861,127.745,135.335,133.672,135.309,134.275,135.097,134.265,140.414,...,111.871,101.537,92.281,88.902,87.751,87.654,86.711,85.381,82.229,80.035
29,Slovak Republic,52.688,43.858,40.157,38.870,40.787,42.959,42.786,42.256,42.771,...,41.485,34.061,34.844,33.662,35.760,33.859,31.830,30.275,30.144,26.468
30,Slovenia,38.790,37.153,36.794,40.556,42.820,43.360,44.798,44.093,35.504,...,25.453,25.842,25.818,23.744,22.813,21.193,20.937,19.942,18.383,16.908
31,Spain,794.326,839.315,884.674,861.151,840.308,803.731,785.458,734.288,742.978,...,527.707,487.944,445.420,398.529,398.310,388.110,380.734,373.451,357.766,336.342
32,Sweden,189.873,191.717,185.291,173.218,175.405,171.343,166.169,161.149,154.436,...,104.742,101.150,97.338,95.857,94.556,91.074,88.162,82.423,79.484,71.095
33,Switzerland,92.150,89.202,84.284,75.225,74.159,69.998,64.966,65.222,64.591,...,53.653,52.471,52.497,51.890,50.552,47.096,45.120,42.207,40.347,37.475
34,Turkey,26.663,28.464,30.654,33.988,807.634,743.836,863.709,1051.317,1177.154,...,449.854,424.147,327.850,326.125,302.303,271.551,244.795,187.533,176.846,192.382
35,United Kingdom,1863.456,1831.005,1818.542,1757.801,1689.482,1600.061,1570.936,1491.534,1401.756,...,665.473,615.978,592.575,549.632,538.791,531.509,513.005,493.613,479.376,460.711
36,United States,12131.986,12063.946,11994.091,11923.330,11853.475,11783.621,11713.723,11766.306,11590.037,...,8179.851,8121.005,7699.749,7278.494,6857.239,6308.999,5333.802,5085.141,4703.678,4322.216
37,OECD - Europe,9787.935,9770.039,9828.439,9607.659,10090.193,9754.534,9692.999,9620.739,9620.888,...,5751.898,5488.353,5102.333,4865.715,4733.279,4559.929,4397.486,4185.763,3998.768,3815.764
38,Non-OECD Economies,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1880.000,1769.000,1514.000,1549.000,1574.000,1594.000,1630.000,1656.000,1748.000,NaN