In [16]:
# Try "pip install odfpy" and "pip install openpyxl" if error raised related to ".xlsx" files


import pandas as pd 
import numpy as numpy

def load_data_part1():
    # Emission Data (CO2)
    EU_em_df = pd.read_excel('Data/Table_11.5_Carbon_Dioxide_Emissions_From_Energy_Consumption__Transportation_Sector.xlsx',engine='openpyxl')
    EU_em_annual_df = pd.read_csv('Data/EU_annual_carbon_emission_by_road_transportation.csv',)
    UK_em_df = pd.read_excel('Data/uk-env0201.ods', nrows = 16)
    US_em_df = pd.read_excel('Data/US_em.xlsx',engine='openpyxl')
        # Emissions data Processing
    EU_em_df = EU_em_df.set_index('Month')
    UK_em_df = UK_em_df.transpose()
    
    # Electric Vehicles
    EU_veh_df = pd.read_csv('Data/new-electric-vehicles-in-eu-1.csv')
    UK_veh_df = pd.read_excel('Data/veh0203.ods', nrows= 76)
    US_veh_df = pd.read_excel('Data/10354_epact_vehicle_history_5-21-21.xlsx',engine='openpyxl')
    
    
        
            
    
    
    return EU_em_df, EU_em_annual_df, UK_em_df, US_em_df, EU_veh_df,UK_veh_df, US_veh_df

EU_em_df, EU_em_annual_df, UK_em_df, US_em_df, EU_veh_df,UK_veh_df, US_veh_df = load_data_part1()

def load_data_part2():
    # Secondary Data 
        # Air pollution
            # UK 1970-2019/2022
    UK_nox_annual_df = pd.read_csv('Data/Figure06_NOx_time_series.csv')
    UK_pm_all_annual_df = pd.read_csv('Data/Figure03_PM_time_series.csv')
            
            # USA Since 1970-2020, plz Access through column id(numbers)
    USA_nox_annual_df = pd.read_csv('Data/US_nox_em_time_series.csv') # National Emissions Totals (thousands of tons)
    USA_pm_10_annual_df = pd.read_csv('Data/US_pm10_year.csv')        #
    USA_pm_2_5_annual_df = pd.read_csv('Data/US_pm2_5_year.csv')
    
    USA_pm_2_5_annual_df = USA_pm_2_5_annual_df.transpose()
    USA_pm_10_annual_df = USA_pm_10_annual_df.transpose()
            
            # OCED DATA
    OCED_PM10_df = pd.read_excel('Data/PM10_ROAD_OCED_WORLD_DATA.xlsx',engine='openpyxl')
    OCED_NOX_df = pd.read_excel('Data/NOX_ROAD_OCED_WORLD_DATA.xlsx',engine='openpyxl')
    OCED_PM2_5_df = pd.read_excel('Data/PM2_5_ROAD_OCED_WORLD_DATA.xlsx',engine='openpyxl')
    
    return UK_nox_annual_df,UK_pm_all_annual_df,USA_pm_10_annual_df,USA_pm_2_5_annual_df,USA_nox_annual_df,OCED_PM10_df,OCED_NOX_df,OCED_PM2_5_df
    
UK_nox_annual_df,UK_pm_all_annual_df,USA_pm_10_annual_df,USA_pm_2_5_annual_df,USA_nox_annual_df,OCED_PM10_df,OCED_NOX_df,OCED_PM2_5_df = load_data_part2()

# Eric: Simpler ways to read the data
# calling head() method  
# storing in new variable 
data_top = OCED_PM2_5_df
    
# display 
data_top 

#EU_em_df, UK_em_df, US_em_df

c:\users\liu2286\appdata\local\programs\python\python37\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Austria,9.061,NaN,NaN,NaN,NaN,9.911,NaN,NaN,NaN,...,6.727,6.185,5.584,5.148,4.794,4.424,4.166,3.830,3.566,3.339
1,Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.473,6.724,6.103,5.527,5.109,4.977,4.631,4.232,3.938,3.666
2,Canada,73.999,69.456,68.619,71.830,76.760,78.519,78.469,80.510,77.450,...,54.248,48.694,44.353,42.207,39.217,35.511,31.875,33.592,35.229,35.197
3,Chile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.960,4.900,4.534,5.342,5.923,6.681,6.747,7.491,14.858,NaN
4,Czech Republic,14.238,12.864,11.767,10.583,9.996,8.572,7.818,7.021,7.490,...,5.427,5.025,4.842,4.670,4.653,4.534,4.506,4.514,4.483,4.333
5,Denmark,9.780,10.056,9.486,9.394,9.237,9.173,8.612,8.132,7.602,...,4.501,4.150,3.835,3.607,3.301,3.066,2.903,2.695,2.531,2.297
6,Estonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.709,0.678,0.649,0.589,0.583,0.565,0.528,0.513,0.507,0.484
7,Finland,13.659,13.038,12.365,11.778,11.209,10.580,9.932,9.641,9.186,...,5.095,4.778,4.612,4.300,4.059,3.754,3.486,3.319,3.161,2.963
8,France,92.310,98.246,101.741,104.257,101.310,102.947,102.065,98.663,99.968,...,50.312,47.171,43.799,41.000,37.746,35.558,32.684,30.486,27.702,25.764
9,Germany,NaN,NaN,NaN,NaN,NaN,95.249,88.838,85.178,83.846,...,41.603,39.855,37.594,36.129,35.135,33.385,32.405,31.106,29.525,28.690
10,Greece,9.756,10.016,10.227,10.154,10.666,9.693,9.792,10.545,12.013,...,8.986,6.941,5.567,5.562,5.604,5.713,5.702,5.734,5.833,5.706
11,Hungary,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,4.011,3.544,3.137,2.937,3.070,3.156,2.940,2.925,2.930,2.825
12,Iceland,0.832,0.892,0.946,0.974,0.968,1.029,0.959,0.952,0.928,...,1.001,0.899,0.865,0.862,0.897,0.847,0.734,0.777,0.808,0.715
13,Ireland,3.288,3.479,3.591,3.558,3.684,3.728,3.982,3.859,4.267,...,2.726,2.535,2.363,2.342,2.320,2.264,2.149,1.905,1.827,1.722
14,Italy,84.898,84.560,84.223,86.769,83.637,83.544,84.003,81.990,83.824,...,42.733,39.489,35.200,32.261,31.044,28.092,26.429,24.292,23.599,23.284
15,Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,24.780,25.118,25.088,22.889,29.594,31.189,31.233,31.730,NaN
16,Latvia,3.074,3.563,2.544,2.300,1.336,1.152,1.159,1.129,1.096,...,1.236,1.066,1.019,0.971,0.935,0.918,0.866,0.866,0.871,0.808
17,Lithuania,3.114,2.984,2.149,1.655,1.342,1.378,1.284,1.521,1.654,...,1.348,1.335,1.319,1.330,1.410,1.370,1.336,1.275,1.248,1.245
18,Luxembourg,1.246,1.484,1.551,1.538,1.527,1.423,1.428,1.468,1.466,...,1.030,0.976,0.854,0.764,0.665,0.574,0.521,0.501,0.502,0.495
19,Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,83.000,NaN,NaN,NaN
20,Netherlands,23.984,23.308,23.129,22.058,20.074,18.858,18.129,16.992,16.256,...,7.792,6.985,5.960,5.386,4.844,4.443,4.074,3.791,3.574,3.284
21,Norway,5.904,5.829,6.123,6.117,6.231,6.541,6.712,6.873,6.774,...,5.370,5.358,5.260,5.032,4.627,4.141,3.913,3.701,3.650,3.435
22,Poland,16.022,15.547,14.618,14.871,14.628,15.551,18.161,18.692,18.367,...,16.770,16.334,15.127,13.211,12.493,12.481,13.608,15.706,15.677,15.244
23,Portugal,7.334,7.604,7.974,8.175,8.781,8.776,8.920,8.840,9.214,...,7.858,7.123,6.447,6.116,5.994,5.976,5.882,5.800,5.556,5.407
24,Slovak Republic,3.128,2.498,2.165,1.980,2.050,2.160,2.147,2.064,2.158,...,2.393,1.816,1.835,1.739,1.836,1.719,1.671,1.637,1.588,1.400
25,Slovenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.599,1.581,1.556,1.422,1.349,1.265,1.245,1.195,1.124,1.077
26,Spain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24.234,21.735,19.276,17.134,16.299,15.456,15.061,14.967,14.547,13.768
27,Sweden,9.846,9.621,9.362,8.995,8.982,8.996,8.716,8.537,8.441,...,6.659,6.918,6.190,6.485,6.018,5.832,5.806,5.694,5.639,5.443
28,Switzerland,4.916,4.949,4.821,4.555,4.579,4.522,4.308,4.346,4.359,...,3.290,3.107,2.954,2.805,2.680,2.498,2.410,2.312,2.304,2.256
29,Turkey,1.354,1.396,1.536,1.590,32.593,29.829,35.538,44.073,49.147,...,22.177,20.348,14.626,15.087,14.100,12.082,10.648,9.885,9.216,9.153
30,United Kingdom,73.717,72.206,72.339,73.357,75.748,75.388,76.479,73.932,71.411,...,34.270,30.133,29.133,25.491,24.301,24.037,22.986,22.336,21.920,21.394
31,United States,565.186,554.299,541.598,528.898,517.104,504.403,491.252,475.555,456.705,...,374.052,370.150,349.268,328.387,307.505,278.592,233.767,222.627,210.112,197.598
32,OECD - Europe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,317.332,292.787,265.707,247.909,235.866,223.128,213.291,205.992,197.827,190.198