In [8]:
# Try "pip install odfpy" and "pip install openpyxl" if error raised related to ".xlsx" files


import pandas as pd 
import numpy as numpy

def load_data():
    # Emission Data (CO2)
    EU_em_df = pd.read_excel('Data/Table_11.5_Carbon_Dioxide_Emissions_From_Energy_Consumption__Transportation_Sector.xlsx',engine='openpyxl')
    EU_em_annual_df = pd.read_csv('Data/EU_annual_carbon_emission_by_road_transportation.csv',)
    UK_em_df = pd.read_excel('Data/uk-env0201.ods', nrows = 16)
    US_em_df = pd.read_excel('Data/US_em.xlsx',engine='openpyxl')
        # Emissions data Processing
    EU_em_df = EU_em_df.set_index('Month')
    UK_em_df = UK_em_df.transpose()
    
    # Electric Vehicles
    EU_veh_df = pd.read_csv('Data/new-electric-vehicles-in-eu-1.csv')
    UK_veh_df = pd.read_excel('Data/veh0203.ods', nrows= 76)
    US_veh_df = pd.read_excel('Data/10354_epact_vehicle_history_5-21-21.xlsx',engine='openpyxl')
    
    # Secondary Data 
        # Air pollution
            # UK
    UK_nox_annual_df = pd.read_csv('Data/Figure06_NOx_time_series.csv',)
    UK_pm_annual_df = pd.read_csv('Data/Figure03_PM_time_series.csv',)
    
    
    return EU_em_df, EU_em_annual_df, UK_em_df, US_em_df, EU_veh_df,UK_veh_df, US_veh_df,UK_nox_annual_df,UK_pm_annual_df

EU_em_df, EU_em_annual_df, UK_em_df, US_em_df, EU_veh_df,UK_veh_df, US_veh_df, UK_nox_annual_df,UK_pm_annual_df  = load_data()



# Eric: Simpler ways to read the data
# calling head() method  
# storing in new variable 
data_top = UK_nox_annual_df.head() 
    
# display 
data_top 

#EU_em_df, UK_em_df, US_em_df

,year,nox,nox_necd,NECDceiling2010,Gothenburgceiling2010,ceiling2020,CLRTAPceiling2020
0,1970,2919.936263,2894.884017,NaN,NaN,NaN,NaN
1,1971,2908.509446,2881.343495,NaN,NaN,NaN,NaN
2,1972,2897.965815,2869.953265,NaN,NaN,NaN,NaN
3,1973,3069.869862,3040.720686,NaN,NaN,NaN,NaN
4,1974,2879.400702,2849.303589,NaN,NaN,NaN,NaN