In [45]:
# Try "pip install odfpy" and "pip install openpyxl" if error raised related to ".xlsx" files


import pandas as pd 
import numpy as numpy

def load_data():
    # Emission Data (CO2)
    EU_em_df = pd.read_excel('Data/Table_11.5_Carbon_Dioxide_Emissions_From_Energy_Consumption__Transportation_Sector.xlsx',engine='openpyxl')
    EU_em_annual_df = pd.read_csv('Data/EU_annual_carbon_emission_by_road_transportation.csv',)
    UK_em_df = pd.read_excel('Data/uk-env0201.ods', nrows = 16)
    US_em_df = pd.read_excel('Data/US_em.xlsx',engine='openpyxl')
        # Emissions data Processing
    EU_em_df = EU_em_df.set_index('Month')
    UK_em_df = UK_em_df.transpose()
    
    # Electric Vehicles
    EU_veh_df = pd.read_csv('Data/new-electric-vehicles-in-eu-1.csv')
    UK_veh_df = pd.read_excel('Data/veh0203.ods', nrows= 76)
    US_veh_df = pd.read_excel('Data/10354_epact_vehicle_history_5-21-21.xlsx',engine='openpyxl')
    
    # Secondary Data 
        # Air pollution
            # UK 1970-2019/2022
    UK_nox_annual_df = pd.read_csv('Data/Figure06_NOx_time_series.csv')
    UK_pm_all_annual_df = pd.read_csv('Data/Figure03_PM_time_series.csv')
            
            # USA Since 1970-2020, plz Access through column id(numbers)
    USA_nox_annual_df = pd.read_csv('Data/US_nox_em_time_series.csv') # National Emissions Totals (thousands of tons)
    USA_pm_10_annual_df = pd.read_csv('Data/US_pm10_year.csv')        #
    USA_pm_2_5_annual_df = pd.read_csv('Data/US_pm2_5_year.csv')
    
    USA_pm_2_5_annual_df = USA_pm_2_5_annual_df.transpose()
    USA_pm_10_annual_df = USA_pm_10_annual_df.transpose()
        
            
    
    
    return EU_em_df, EU_em_annual_df, UK_em_df, US_em_df, EU_veh_df,UK_veh_df, US_veh_df,UK_nox_annual_df,UK_pm_annual_df,USA_pm_10_annual_df,USA_pm_2_5_annual_df,USA_nox_annual_df

EU_em_df, EU_em_annual_df, UK_em_df, US_em_df, EU_veh_df,UK_veh_df, US_veh_df, UK_nox_annual_df,UK_pm_annual_df,USA_pm_10_annual_df,USA_pm_2_5_annual_df,USA_nox_annual_df  = load_data()



# Eric: Simpler ways to read the data
# calling head() method  
# storing in new variable 
data_top = USA_pm_10_annual_df
    
# display 
data_top 

#EU_em_df, UK_em_df, US_em_df

c:\users\liu2286\appdata\local\programs\python\python37\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
Source Category,FUEL COMB. ELEC. UTIL.,FUEL COMB. INDUSTRIAL,FUEL COMB. OTHER,CHEMICAL & ALLIED PRODUCT MFG,METALS PROCESSING,PETROLEUM & RELATED INDUSTRIES,OTHER INDUSTRIAL PROCESSES,SOLVENT UTILIZATION,STORAGE & TRANSPORT,WASTE DISPOSAL & RECYCLING,HIGHWAY VEHICLES,OFF-HIGHWAY,MISCELLANEOUS,Total,Miscellaneous,Total without miscellaneous,Wildfires,Total without wildfires,Miscellaneous without wildfires
1970,"1,775",641,455,235,"1,316",286,"5,832",NA,NA,999,480,164,839,"13,022",839,"12,183",NaN,NaN,NaN
1975,"1,191",564,492,127,825,179,"2,572",NA,NA,371,456,209,569,"7,555",569,"6,986",NaN,NaN,NaN
1980,879,679,887,148,622,138,"1,846",NA,NA,273,432,257,852,"7,013",852,"6,161",NaN,NaN,NaN
1985,280,247,"1,009",58,220,63,611,2,107,278,408,304,"37,736","41,323","37,736","3,587",NaN,NaN,NaN
1990,295,270,631,77,214,55,583,4,102,271,387,328,"24,536","27,753","24,536","3,217",NaN,NaN,NaN
1991,257,233,657,68,251,43,520,5,101,276,370,331,"24,233","27,345","24,233","3,112",NaN,NaN,NaN
1992,257,243,683,71,250,43,506,5,117,278,354,333,"23,958","27,098","23,958","3,140",NaN,NaN,NaN
1993,279,257,588,66,181,38,501,6,114,334,337,335,"24,328","27,364","24,328","3,036",NaN,NaN,NaN
1994,273,270,570,76,184,38,495,6,106,313,321,337,"25,619","28,608","25,619","2,989",NaN,NaN,NaN
1995,268,302,610,67,212,40,511,6,109,287,304,339,"22,765","25,820","22,765","3,055",NaN,NaN,NaN
1996,289,238,380,63,144,29,325,6,81,454,287,341,"20,219","22,857","20,219","2,638",NaN,NaN,NaN
1997,295,232,381,64,151,30,336,6,83,468,274,337,"20,253","22,909","20,253","2,656",NaN,NaN,NaN
1998,229,229,378,65,150,30,338,6,84,488,256,332,"20,307","22,893","20,307","2,585",NaN,NaN,NaN
1999,723,317,421,54,136,38,365,17,83,468,241,336,"20,186","23,383","20,186","3,198",NaN,NaN,NaN
2000,687,320,465,55,140,38,378,17,84,362,230,322,"20,649","23,747","20,649","3,098",NaN,NaN,NaN
2001,696,330,467,57,148,39,394,18,88,363,212,317,"20,580","23,708","20,580","3,127",NaN,NaN,NaN
2002,620,339,491,40,81,25,976,8,60,289,402,362,"17,883","21,576","17,883","3,693","1,335","20,241","16,548"
2003,622,345,482,38,82,26,988,8,59,289,395,343,"17,986","21,664","17,986","3,679","1,335","20,330","16,651"
2004,625,348,473,37,83,27,999,8,59,289,389,323,"18,089","21,749","18,089","3,660","1,335","20,414","16,754"
2005,627,350,464,36,83,28,"1,009",8,58,289,383,304,"17,662","21,302","17,662","3,639",805,"20,497","16,857"
2006,556,297,439,33,82,29,"1,032",7,56,272,376,283,"17,940","21,401","17,940","3,461",805,"20,596","17,135"
2007,484,243,414,29,82,29,"1,055",6,54,255,370,263,"18,218","21,501","18,218","3,283",805,"20,696","17,413"
2008,409,189,388,26,81,30,"1,076",5,51,238,332,260,"18,496","21,580","18,496","3,084","1,178","20,402","17,318"
2009,366,218,400,25,75,32,973,4,52,222,305,242,"18,286","21,199","18,286","2,913","1,178","20,021","17,108"
2010,323,246,412,23,69,33,870,4,52,207,279,228,"18,076","20,823","18,076","2,747","1,178","19,645","16,899"
2011,280,275,424,22,63,35,766,4,52,192,371,223,"18,015","20,723","18,015","2,708","1,326","19,397","16,689"
2012,265,278,399,21,61,35,736,4,49,220,349,211,"17,341","19,970","17,341","2,628","1,326","18,644","16,015"
2013,249,282,373,20,60,34,706,4,46,249,326,199,"16,667","19,217","16,667","2,549","1,326","17,891","15,341"
2014,234,286,348,19,58,33,677,4,43,277,304,187,"15,713","18,183","15,713","2,470","1,046","17,138","14,667"
2015,200,272,355,19,56,31,707,4,41,260,288,172,"15,121","17,526","15,121","2,405","1,046","16,480","14,075"
2016,166,259,363,19,53,29,737,4,38,244,243,147,"14,528","16,830","14,528","2,302","1,046","15,785","13,482"
2017,132,246,370,19,51,27,767,5,36,227,240,139,"14,777","17,035","14,777","2,258","1,953","15,082","12,824"
2018,132,246,370,19,51,27,767,5,36,227,232,133,"14,777","17,021","14,777","2,245","1,953","15,068","12,824"
2019,132,246,370,19,51,27,767,5,36,227,224,128,"14,777","17,008","14,777","2,231","1,953","15,055","12,824"
2020,132,246,370,19,51,27,767,5,36,227,216,122,"14,777","16,994","14,777","2,217","1,953","15,041","12,824"